.side-chat
  .side-header
    .side-header__block
      .side-header__block__name
        = current_user.name
      .side__button
        =link_to new_group_path, class: "side__button__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "side__button__btn" do
          = icon('fas', 'cog')
      
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "group" do
        .group__name
          = group.name 
        .group__message
          = group.show_last_message